.App {
  margin: 5% 20%;
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0 2px 3px #ccc;
  padding: 20px;
}

.InputContainer {
  display: flex;
  flex-direction: row;
}

.InputContainer button {
  border: none;
  border-radius: 15px;
  outline: none;
}

.InputContainer button:hover {
  background: lightblue;
}

.Input {
  margin: 5px;
  width: 500px;
  height: 25px;
  border:none;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  background: #eee;
}

.Input:focus {
  background: lightblue;
}

.Parent {
  margin-left: none;
}

.Child {
  margin-left: 10px;
}

.Grandchild {
  margin-left: 20px;
}

.Parent:hover,
 .Child:hover,
 .Grandchild:hover   {
  background: lightblue;
}

.Active {
  background: lightblue;
}

.Parent img,
.Child img,
.Grandchild img {
  height: 15px;
  margin-right: 5px;
}

img {
  height: 15px;
}

ul {
  list-style: none;
}






